$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$primary-font-color: #191816;
$secondary-font-color: #ff7f50;
$tertiary-font-color: #202020;

#checkout-form-divider{
    height: 140px;
    width: 100vw;
    background: $primary-font-color;

    border-bottom: solid 2px #3f3f3fed;

    position: fixed;

    // margin: 0 40px;

    z-index: 102;
    pointer-events: none;

    transform: translateX(100vw);

    transition: 0.6s;
}

#checkout-form-wrapper{
    width: 100vw;
    height: auto;

    display: flex;
    position: absolute;

    text-align: center;
    color: white;

    // background: red;

    // padding-top: 180px;
    margin-top: 180px;
    padding: 0 40px;
    padding-bottom: 180px !important;

    z-index: 101 !important;

    pointer-events: none;

    // background: #191816;

    input:focus, select:focus, textarea:focus, button:focus {
        outline-width: 0;
        outline: none;
    }

    #checkout-summary{
        height: 100vh;
        width: auto;
        text-align: left !important;

        #checkout-summary-item{
            height: auto;
            width: auto;

            color: white;

            #checkout-summary-item-img{
                position: fixed;
                display: block;

                height: 400px !important;
                width: 400px !important;

                background: white;
                z-index: 102;

                color: white;
            }
        }
    }

    #checkout-form{
        text-align: left !important;

        transform: translateX(-700px);

        color: white !important;
        letter-spacing: 0.05rem;
        pointer-events: all;

        position: relative;

        // background-color: #3b3b3b;
        padding: 0 40px;

        transition: 0.6s;

        width: 50vw;

        #checkout-form-email, #checkout-form-delivery-address, #checkout-form-billing-address{
            // height: 18px;

            input{
                font-family: $secondary-font;
                color: $primary-font-color !important;

                width: calc(50vw - 200px);
                padding: 10px;
                margin: 2.5px 0;
            }

            // background: #3b3b3b;
            position: relative;

            padding: 20px 0;

            // input{
            //     margin: 20px;
            // }
        }
        #checkout-form-delivery-address{
        }

        #delivery-options-wrapper{
            display: flex;
            margin: 10px 0;
            padding-right: 20px;
            // padding: 10px;
            // background: #3b3b3b;

            column-gap: 20px;

            #delivery-option-prices{
                p{
                    margin: 0 !important;
                    padding: 0;
                    color: white !important;
                    height: 100px;
                    font-weight: 600;
                }
            }

            #delivery-options, #delivery-option-prices{
                .delivery-option{
                    height: 100px;
                    width: 450px;
                }
                input{
                    position: relative;
                    float: right;
                }
                
                // input[type='radio'] { 
                //     transform: scale(1.25);
                // }

                input[type='radio']:after {
                    width: 10px;
                    height: 10px;
                    // border-radius: 10px;
                    // top: -2px;
                    // left: -1px;
                    position: relative;
                    background-color: #d1d3d1;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }
            
                input[type='radio']:checked:after {
                    width: 10px;
                    height: 10px;
                    // border-radius: 10px;
                    // top: -2px;
                    // left: -1px;
                    position: relative;
                    background-color: $secondary-font-color;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }
    
                label, p{
                    font-family: $secondary-font;
                    color: white !important;
                    margin: 0;
                    // width: 200px !important;
                }

                .delivery-txt{
                    margin-top: 10px;
                }
    
            }
        }
        #checkout-form-billing-address{

        }
    }
}