/* Import Google font - Poppins */
:root {
  --dark: #34495E;
  --light: #ffffff;
  --success: white;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}

.notifications {
  position: fixed;
  top: 40px;
  left: 20px;
}

.notifications :where(.toast, .column) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications .toast {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  width: 200px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: #ff7f50 !important;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: show_toast 0.3s ease forwards;
          animation: show_toast 0.3s ease forwards;
}

@-webkit-keyframes show_toast {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  80% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes show_toast {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  80% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.notifications .toast.hide {
  -webkit-animation: hide_toast 0.3s ease forwards;
          animation: hide_toast 0.3s ease forwards;
}

@-webkit-keyframes hide_toast {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(calc(-100% - 200px));
            transform: translateX(calc(-100% - 200px));
  }
}

@keyframes hide_toast {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(calc(-100% - 200px));
            transform: translateX(calc(-100% - 200px));
  }
}

.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  -webkit-animation: progress 5s linear forwards;
          animation: progress 5s linear forwards;
}

@-webkit-keyframes progress {
  100% {
    width: 0%;
  }
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.toast.success::before, .btn#success {
  background: var(--success);
}

.toast.error::before, .btn#error {
  background: var(--error);
}

.toast.warning::before, .btn#warning {
  background: var(--warning);
}

.toast.info::before, .btn#info {
  background: var(--info);
}

.toast .column i {
  font-size: 1.75rem;
}

.toast.success .column i {
  color: var(--success);
}

.toast.error .column i {
  color: var(--error);
}

.toast.warning .column i {
  color: var(--warning);
}

.toast.info .column i {
  color: var(--info);
}

.toast .column span {
  font-size: 13px;
  margin-left: 12px;
}

.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}

.toast i:last-child:hover {
  color: var(--dark);
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=toast_notifications.css.map */