@media all and (min-width: 2601px) and (max-width: 4000px) {
  body {
    background-image: url("/imgs/THL_BG_4k.jpg");
  }
}
@media all and (min-width: 1921px) and (max-width: 2600px) {
  body {
    background-image: url("/imgs/THL_BG_Large.jpg");
  }
}
@media all and (min-width: 1025px) and (max-width: 1920px) {
  body {
    background-image: url("/imgs/THL_BG_Default.jpg");
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral !important;
    opacity: 1 !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    padding-bottom: 150px;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}
@media all and (min-width: 801px) and (max-width: 959px) {
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral !important;
    opacity: 1 !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    right: 1.5rem !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}
@media all and (min-width: 769px) and (max-width: 800px) {
  #shop-container {
    padding: 0;
  }
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral !important;
    opacity: 1 !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite !important;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    right: 1.5rem !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}
@media all and (min-width: 569px) and (max-width: 768px) {
  #shop-container {
    padding: 0;
  }
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral !important;
    opacity: 1 !important;
  }
  #about, #contact {
    width: 75% !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite !important;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    right: 1.5rem !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}
@media all and (min-width: 481px) and (max-width: 568px) {
  #shop-container {
    padding: 0;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 145vw !important;
    width: 100vw !important;
  }
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral !important;
    opacity: 1 !important;
  }
  #about, #contact {
    width: 75% !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite !important;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    right: 1.5rem !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}
@media all and (min-width: 321px) and (max-width: 480px) {
  #user-bag-qty-animation {
    transform: translateX(22px);
  }
  #shop-container {
    padding: 0;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 145vw !important;
    width: 100vw !important;
  }
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral !important;
    opacity: 1 !important;
  }
  #about, #contact {
    width: 75% !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite !important;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    right: 1.5rem !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}
@media all and (min-width: 0px) and (max-width: 320px) {
  #shop-container {
    padding: 0;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 145vw !important;
    width: 100vw !important;
  }
  #gen-inq {
    display: none;
  }
  .contact-col1 {
    min-width: 135px !important;
  }
  #contact-ig, #contact-tw {
    background-color: coral;
    opacity: 1 !important;
  }
  #about, #contact {
    width: 75% !important;
  }
  #scroll-text {
    /* animation properties */
    transform: translateX(100vw);
    animation: my-animation 30s linear infinite !important;
  }
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #shop-btn {
    background-color: coral !important;
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #empty-bag-msg {
    transform: translateY(225px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    right: 1.5rem !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
  #checkout-bg {
    display: none;
  }
}/*# sourceMappingURL=mobile_styles.css.map */