@media all and (min-width: 960px) and (max-width: 1024px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}
@media all and (min-width: 801px) and (max-width: 959px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}
@media all and (min-width: 769px) and (max-width: 800px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}
@media all and (min-width: 569px) and (max-width: 768px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}
@media all and (min-width: 481px) and (max-width: 568px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}
@media all and (min-width: 321px) and (max-width: 480px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}
@media all and (min-width: 0px) and (max-width: 320px) {
  /* put your css styles in here */
  #thl-logo {
    transform: scale(80%);
    z-index: 2 !important;
  }
  #item-1, #item-2, #item-3, #item-4, #item-5, #item-6 {
    height: 480px !important;
    min-height: 480px !important;
    width: 348px !important;
    min-width: 348px !important;
    transform: translateX(10px);
  }
  #user-bag {
    transform: scale(45%) translateX(50px) !important;
  }
  #user-bag-qty {
    transform: translateX(22px);
  }
  #bag-flyout {
    background-color: black !important;
  }
  #empty-bag-msg {
    transform: translateY(150px) !important;
  }
  .item-preview {
    text-align: center;
    padding-bottom: 150px;
  }
  .size-select::after {
    transform: translateX(15px) scale(80%) rotate(90deg) !important;
  }
  .item-desc, .arrows, .preview-btn {
    opacity: 1 !important;
  }
}/*# sourceMappingURL=mobile_styles.css.map */