@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("imgs/THL_BG_Default.jpg");
  background-attachment: fixed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: absolute;
  width: 100%;
}
body #offline-site {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 104;
  opacity: 1;
  transition: 1.2s;
  /* .bg-wrapper:hover{
      opacity: 1;
  } */
}
body #offline-site #temp {
  margin-top: 3px;
  margin-left: 76px;
  width: 100%;
  height: 100%;
}
body #offline-site .bg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  opacity: 0;
  transition: 1.6s;
  transform: translate(-75px, -3px);
  /* flex-wrap: wrap; */
}
body #offline-site #bg {
  /* background-repeat: round; */
  width: 100%;
  height: 100%;
  /* background-image: -moz-element(#fractal); */
}
body #offline-site .center-wrapper {
  display: flex;
}
body #offline-site .square {
  width: 8px;
  height: 8px;
  background: #ff7f50;
}
body #offline-site .horizontal-rectangle {
  width: 4px;
  height: 8px;
  background: #ff7f50;
}
body #offline-site .vertical-rectangle {
  width: 8px;
  height: 4px;
  background: #ff7f50;
}
body #offline-site .triangle-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #ff7f50;
}
body #offline-site .triangle-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ff7f50;
}
body #offline-site .triangle-left {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid #ff7f50;
  border-bottom: 4px solid transparent;
}
body #offline-site .triangle-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 4px solid #ff7f50;
  border-bottom: 4px solid transparent;
}
body #offline-site #offline-msg {
  text-align: center;
  position: fixed;
  margin-top: 40vh;
  width: 20vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
body #offline-site #offline-msg #countdown {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 8s;
}
body #offline-site #offline-msg p {
  min-width: 200px;
}
body #offline-site #offline-msg .animate__animated.animate__flash {
  --animate-duration: 1s;
}
body #offline-site #offline-msg #offline-logo {
  transform: translateX(10px);
}
body #offline-site .email-inputform {
  display: flex;
  justify-content: center;
}
body #offline-site .email-inputform #email-input {
  min-height: 45px;
  min-width: 300px;
  padding: 0 10px;
  background-color: #f4f4f4;
  border: 1px solid rgb(189, 189, 189);
  border-right: none;
  transition: 0.6s;
}
body #offline-site .email-inputform #submit-btn {
  background-color: coral;
  color: white;
  min-height: 45px;
  border: none;
  padding: 0 20px;
  border-radius: 0 5px 5px 0px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: 1s;
}
body #offline-site .email-inputform #submit-btn:hover {
  background-color: rgb(255, 150, 112);
}
body #offline-site #emailform-error-msg {
  color: rgb(207, 50, 50);
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: left;
  float: left;
  transition: 0.6s;
}
body #top-banner {
  width: 100%;
  box-sizing: border-box;
  background-color: #ff7f50;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 500;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  position: fixed;
  z-index: 107;
  overflow: hidden;
  display: none;
  /* for Firefox */
  /* for Chrome */
}
body #top-banner #scroll-text {
  /* animation properties */
  transform: translateX(100%);
  animation: my-animation 60s linear infinite;
}
@keyframes my-animation {
  100% {
    transform: translate(-100%, 0);
  }
}
body #online-site {
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body #online-site .divider {
  height: 2px;
  width: auto;
  margin: 0 40px;
  background-color: white;
  position: relative;
}
body #online-site #checkout-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #191816;
  transform: translateX(100%);
  transition: 0.6s;
  z-index: 100;
}
body #online-site #bag-flyout {
  position: fixed;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  transform: translateX(100vw);
  width: 100vw;
  height: 100%;
  background-color: rgb(25, 24, 22);
  z-index: 104;
  transition: 0.6s;
}
body #online-site #bag-flyout #empty-bag-msg {
  position: fixed;
  margin-left: 26%;
  margin-top: 35vh;
  transform: translateY(225px);
  transition: 0.6s;
}
body #online-site #bag-flyout #my-bag {
  color: white;
  padding-top: 55px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  height: auto;
  overflow: auto;
}
body #online-site #bag-flyout #my-bag .clear {
  clear: both;
}
body #online-site #bag-flyout #my-bag #my-bag-header {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-left: 40px;
}
body #online-site #bag-flyout #my-bag ul, body #online-site #bag-flyout #my-bag li {
  list-style-type: none;
}
body #online-site #bag-flyout #my-bag ul li, body #online-site #bag-flyout #my-bag li li {
  min-height: 50px;
}
body #online-site #bag-flyout #my-bag #bag-items, body #online-site #bag-flyout #my-bag #bag-item-qtys {
  margin-top: 20px;
}
body #online-site #bag-flyout #my-bag #bag-items {
  float: left;
}
body #online-site #bag-flyout #my-bag #bag-item-qtys {
  float: right;
  margin-right: 40px;
}
body #online-site #bag-flyout #my-bag #bag-item-qtys .qty-btn {
  border: none;
  background-color: rgb(253, 183, 158);
  min-width: 24px;
  cursor: pointer;
  transition: 0.6s;
}
body #online-site #bag-flyout #my-bag #bag-item-qtys .qty-btn:hover {
  background-color: coral;
}
body #online-site #bag-flyout #my-bag::before, body #online-site #bag-flyout #my-bag::after {
  content: "";
  display: table;
  clear: both;
}
body #online-site #bag-flyout #add-more-items {
  padding: 20px 40px;
  padding-top: 0;
  position: relative;
}
body #online-site #bag-flyout #add-more-items #add-more-btn {
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 12px;
  letter-spacing: 0.05rem;
  border-radius: 15px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  transition: 0.6s;
  cursor: pointer;
}
body #online-site #bag-flyout #add-more-items #add-more-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
body #online-site #bag-flyout #bag-overview {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
body #online-site #bag-flyout #bag-overview p {
  padding: 0 40px;
}
body #online-site #bag-flyout #bag-overview .overview-title {
  margin: 20px 0;
  font-size: 20px;
}
body #online-site #bag-flyout #bag-overview table {
  margin-top: 20px;
  width: 100%;
}
body #online-site #bag-flyout #bag-overview table .overview-header, body #online-site #bag-flyout #bag-overview table .overview-value {
  padding: 0;
  margin: 0;
}
body #online-site #bag-flyout #bag-overview table .overview-header {
  text-align: left;
  margin-left: 40px;
}
body #online-site #bag-flyout #bag-overview table .overview-value {
  font-weight: 500;
  text-align: right;
  margin-right: 40px;
}
body #online-site #bag-flyout #bag-overview table #shipping-value, body #online-site #bag-flyout #bag-overview table #salestax-value {
  min-width: 20px;
  float: right;
  background-color: white;
  color: black;
  text-align: center;
  padding-left: 1px;
  margin-right: 42px;
  opacity: 0.5;
  transition: 0.6s;
}
body #online-site #bag-flyout #bag-overview table #shipping-value:hover, body #online-site #bag-flyout #bag-overview table #salestax-value:hover {
  opacity: 1;
}
body #online-site #bag-flyout #paypal-hider {
  width: auto;
  height: 100%;
  background: none;
  transition: 1.2s !important;
  display: none;
}
body #online-site #bag-flyout #checkout-btn-container {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body #online-site #bag-flyout #checkout-btn-container #buttons-container {
  transform: translateY(0vh);
  transition: 0.6s;
}
body #online-site #bag-flyout #checkout-btn-container #paypal-container {
  display: none;
}
body #online-site #bag-flyout #checkout-btn-container #paypal-container #paypal-button-container {
  padding: 40px;
}
body #online-site #bag-flyout #checkout-btn-container #paypal-container #paypal-button-container .paypal-button {
  background-color: #808080 !important;
}
body #online-site #bag-flyout #checkout-btn-container #checkout-helper-msg {
  opacity: 0;
  transition: 0.6s;
}
body #online-site #bag-flyout #checkout-btn-container #checkout-btn {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05rem;
  background-color: white;
  position: relative;
  width: 50%;
  padding: 15px 0;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.6s;
  animation-duration: 1.2s; /* don't forget to set a duration! */
}
body #online-site #bag-flyout #checkout-btn-container #checkout-btn:hover {
  background-color: coral;
}
body #online-site #bag-flyout::-webkit-scrollbar {
  display: none;
}
body #online-site #user-bag {
  transform: scale(45%);
  position: fixed;
  right: 0;
  margin: 5px;
  padding-top: 35px;
  cursor: pointer;
  z-index: 105;
  transition: 0.6s;
}
body #online-site #user-bag:hover {
  transform: scale(50%);
}
body #online-site #user-bag-qty {
  position: fixed;
  right: 0;
  margin: 60px 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: coral;
  border-radius: 50%;
  cursor: pointer;
  z-index: 105;
  width: 16px;
  padding: 3px;
  margin-top: 85px;
}
body #online-site #user-bag-qty-animation {
  opacity: 0%;
  position: fixed;
  right: 0;
  margin: 0 58px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: coral;
  border: 2px solid coral;
  border-radius: 50%;
  cursor: pointer;
  z-index: 104;
  height: 16px;
  width: 16px;
  padding: 3px;
  margin-top: 82px;
  transition: 0.5s;
}
body #online-site #home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  transition: 0.6s;
}
body #online-site #home #home-hider {
  width: 282px;
  height: 63px;
  background: none;
  z-index: 103;
  transform: translateY(-40px);
}
body #online-site #home #thl-logo {
  position: fixed;
  top: 45%;
  z-index: 103;
  cursor: pointer;
  transition: 0.6s;
}
body #online-site #home #shop-btn {
  padding: 18px 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1rem;
  font-weight: 200 !important;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  color: #191816;
  position: fixed;
  top: 50%;
  cursor: pointer;
  z-index: 1;
  transition: 0.6s;
}
body #online-site #home #shop-btn:hover {
  background-color: coral;
}
body #online-site #shop-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 140px;
  padding: 0 100px;
  transition: 0.6s;
}
body #online-site #shop-container #shop {
  opacity: 0;
  display: none;
  max-width: 1440px;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 100px;
  z-index: 0;
  transition: 0.6s;
}
body #online-site #shop-container #shop .untouchable {
  pointer-events: none;
}
body #online-site #shop-container #shop .item {
  position: relative;
  display: block;
  z-index: 0;
}
body #online-site #shop-container #shop .item .pointer-event-blocker {
  width: 100%;
  height: 50px;
  position: absolute;
  pointer-events: pointer;
  bottom: 20px;
}
body #online-site #shop-container #shop .item .color-selection {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
body #online-site #shop-container #shop .item .color-selection .color-selector {
  width: 12px;
  height: 12px;
  margin: 20px;
  border: 10px solid white;
  background-color: red;
  cursor: pointer;
}
body #online-site #shop-container #shop .item .color-selection #color-selector-1 {
  background-color: blue;
}
body #online-site #shop-container #shop .item .color-selection #color-selector-2 {
  background-color: green;
}
body #online-site #shop-container #shop .item .color-selection #color-selector-3 {
  background-color: red;
}
body #online-site #shop-container #shop .item .item-desc {
  height: auto;
  width: 100%;
  margin-top: 20px;
  max-height: 10px !important;
  opacity: 0;
  transition: 0.6s;
}
body #online-site #shop-container #shop .item .item-desc .item-name, body #online-site #shop-container #shop .item .item-desc .item-price, body #online-site #shop-container #shop .item .item-desc .item-sizing {
  margin-left: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #191816;
  font-size: 18px;
}
body #online-site #shop-container #shop .item .item-desc .item-price {
  position: absolute;
  right: 0;
  margin-right: 40px;
}
body #online-site #shop-container #shop .item .item-desc .item-name, body #online-site #shop-container #shop .item .item-desc .item-sizing {
  float: left;
}
body #online-site #shop-container #shop .item .item-desc .item-price, body #online-site #shop-container #shop .item .item-desc .item-sizing {
  color: #808080;
  font-size: 14px;
}
body #online-site #shop-container #shop .item .item-sizing {
  margin-left: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #191816;
  font-size: 18px;
}
body #online-site #shop-container #shop .item .arrows {
  position: relative;
  margin: 50% 0;
  color: #191816;
  width: 100%;
  opacity: 0;
  transition: 0.6s;
  transform: translateY(-40px);
}
body #online-site #shop-container #shop .item .arrows .left-arrow, body #online-site #shop-container #shop .item .arrows .right-arrow {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
body #online-site #shop-container #shop .item .arrows .left-arrow {
  position: absolute;
  left: 0;
  margin-left: 40px;
  cursor: pointer;
}
body #online-site #shop-container #shop .item .arrows .right-arrow {
  position: absolute;
  right: 0;
  margin-right: 40px;
  cursor: pointer;
}
body #online-site #shop-container #shop .item .preview-btn {
  position: absolute;
  bottom: 0;
  align-self: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  margin: 40px;
  margin-left: 30%;
  margin-bottom: 100px;
  background-color: #ffe6dd;
  border: none;
  color: #ff7f50;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
}
body #online-site #shop-container #shop #item-1, body #online-site #shop-container #shop #item-2, body #online-site #shop-container #shop #item-3, body #online-site #shop-container #shop #item-4, body #online-site #shop-container #shop #item-5, body #online-site #shop-container #shop #item-6 {
  height: 720px;
  width: 495px;
  background: white;
  transition: 0.6s;
  display: block;
}
body #online-site #shop-container #shop #item-1:hover .item-desc, body #online-site #shop-container #shop #item-1:hover .arrows, body #online-site #shop-container #shop #item-1:hover .preview-btn, body #online-site #shop-container #shop #item-2:hover .item-desc, body #online-site #shop-container #shop #item-2:hover .arrows, body #online-site #shop-container #shop #item-2:hover .preview-btn, body #online-site #shop-container #shop #item-3:hover:hover .item-desc, body #online-site #shop-container #shop #item-3:hover:hover .arrows, body #online-site #shop-container #shop #item-3:hover:hover .preview-btn, body #online-site #shop-container #shop #item-4:hover .item-desc, body #online-site #shop-container #shop #item-4:hover .arrows, body #online-site #shop-container #shop #item-4:hover .preview-btn, body #online-site #shop-container #shop #item-5:hover .item-desc, body #online-site #shop-container #shop #item-5:hover .arrows, body #online-site #shop-container #shop #item-5:hover .preview-btn, body #online-site #shop-container #shop #item-6:hover .item-desc, body #online-site #shop-container #shop #item-6:hover .arrows, body #online-site #shop-container #shop #item-6:hover .preview-btn {
  opacity: 1;
}
body #online-site #shop-container #shop #item-1:hover .preview-btn:hover, body #online-site #shop-container #shop #item-2:hover .preview-btn:hover, body #online-site #shop-container #shop #item-3:hover:hover .preview-btn:hover, body #online-site #shop-container #shop #item-4:hover .preview-btn:hover, body #online-site #shop-container #shop #item-5:hover .preview-btn:hover, body #online-site #shop-container #shop #item-6:hover .preview-btn:hover {
  opacity: 1;
}
body #online-site #shop-container #shop .item-preview {
  width: 250px;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: none;
}
body #online-site #shop-container #shop .item-preview .size-select-helper {
  color: lightgrey;
  margin: 0;
  margin-bottom: 4px;
  opacity: 0;
  transition: 1s;
}
body #online-site #shop-container #shop .item-preview .item-size-selection {
  width: 100%;
  display: flex;
  /* Styling for the character "a" */
}
body #online-site #shop-container #shop .item-preview .item-size-selection .square-container-osfa {
  padding: 0 20px;
}
body #online-site #shop-container #shop .item-preview .item-size-selection .square-container {
  min-width: 40px; /* Adjust the width and height to your desired size */
  height: 30px;
  background-color: #191816;
  border: #ff7f50 2px solid;
  border-radius: 6px; /* Adjust the border-radius to make rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.6s;
}
body #online-site #shop-container #shop .item-preview .item-size-selection .square-container:hover {
  background-color: #ff7f50;
}
body #online-site #shop-container #shop .item-preview .item-size-selection .square-container-selected {
  background-color: #ff7f50;
}
body #online-site #shop-container #shop .item-preview .item-size-selection .centered-character {
  font-size: 12px; /* Adjust the font size as needed */
  color: #fff; /* Change the text color to your preference */
  font-weight: bold; /* Add bold styling to the character, if desired */
}
body #online-site #shop-container #shop .item-preview .item-preview-header p {
  margin-top: 0;
  color: white;
}
body #online-site #shop-container #shop .item-preview select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0 !important;
}
body #online-site #shop-container #shop .item-preview select option {
  border-radius: 0 !important;
}
body #online-site #shop-container #shop .item-preview .size-select {
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01rem;
}
body #online-site #shop-container #shop .item-preview .size-select #item-1-sizes, body #online-site #shop-container #shop .item-preview .size-select #item-2-sizes, body #online-site #shop-container #shop .item-preview .size-select #item-3-sizes, body #online-site #shop-container #shop .item-preview .size-select #item-4-sizes, body #online-site #shop-container #shop .item-preview .size-select #item-5-sizes, body #online-site #shop-container #shop .item-preview .size-select #item-6-sizes {
  border: none;
  outline: none;
  height: 30px;
  width: 225px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 500;
  transition: 0.6s;
  cursor: pointer;
}
body #online-site #shop-container #shop .item-preview .size-select #item-1-sizes option, body #online-site #shop-container #shop .item-preview .size-select #item-2-sizes option, body #online-site #shop-container #shop .item-preview .size-select #item-3-sizes option, body #online-site #shop-container #shop .item-preview .size-select #item-4-sizes option, body #online-site #shop-container #shop .item-preview .size-select #item-5-sizes option, body #online-site #shop-container #shop .item-preview .size-select #item-6-sizes option {
  border-radius: 0px !important;
  min-height: 100px !important;
  margin: 20px 0;
}
body #online-site #shop-container #shop .item-preview .size-select select {
  border-style: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px !important;
  appearance: none !important;
}
body #online-site #shop-container #shop .item-preview .size-select option {
  border-style: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px !important;
  appearance: none !important;
}
body #online-site #shop-container #shop .item-preview .size-select::after {
  content: "▶";
  transform: rotate(90deg);
  position: absolute;
  top: 4px;
  right: 2.25rem;
  color: #191816;
  pointer-events: none;
}
body #online-site #shop-container #shop .item-preview .item-preview-desc p {
  margin: 20px 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body #online-site #shop-container #shop .item-preview .add2bag-container {
  position: relative;
}
body #online-site #shop-container #shop .item-preview .add2bag-container .add2bag-btn {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: none;
  color: #ff7f50;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  transition: 0.6s;
  z-index: 1001;
  position: relative;
}
body #online-site #shop-container #shop .item-preview .add2bag-container .pre-item-ticket, body #online-site #shop-container #shop .item-preview .add2bag-container .item-ticket {
  position: absolute;
  pointer-events: none;
  width: 25px;
  height: 30px;
  transform: translateY(-30px);
  z-index: 1000;
  background-color: #ff7f50;
  right: 0;
  transition: 0.6s;
}
body #online-site #shop-container #shop .item-preview .add2bag-container .post-item-ticket {
  transition: 1.6s;
  animation-timing-function: ease-in;
  transform: translate(25px, 100vh) !important;
}
body #online-site #shop-container #shop .item-preview .add2bag-container:hover .item-ticket {
  transform: translate(25px, -30px);
}
body #online-site #shop-container #shop .item-preview .back2store-btn {
  color: #ff7f50;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  background: url("");
  cursor: pointer;
}
body #online-site #shop-container #shop .item-preview .back2store-btn span {
  margin: 0;
  padding: 0;
}
body #online-site #shop-container #shop .flex-break {
  flex-basis: 100%;
  height: 60px;
}
body #online-site #about-container, body #online-site #contact-container {
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
}
body #online-site #about-container #about, body #online-site #about-container #contact, body #online-site #contact-container #about, body #online-site #contact-container #contact {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0;
  width: 50%;
  font-size: 16px;
  letter-spacing: 0.1rem;
  color: white;
  text-align: center;
  transition: 0.6s;
}
body #online-site #about-container #about #about-header, body #online-site #about-container #contact #about-header, body #online-site #contact-container #about #about-header, body #online-site #contact-container #contact #about-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
body #online-site #about-container #about #dissapointment, body #online-site #about-container #contact #dissapointment, body #online-site #contact-container #about #dissapointment, body #online-site #contact-container #contact #dissapointment {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color: coral;
}
body #online-site #about-container #contact, body #online-site #contact-container #contact {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: right;
  max-width: 500px !important;
  transform: translateX(-10px);
}
body #online-site #about-container #contact #contact-table, body #online-site #contact-container #contact #contact-table {
  border-spacing: 0 15px;
  margin: 0;
  table-layout: fixed;
}
body #online-site #about-container #contact #contact-table .contact-col1, body #online-site #contact-container #contact #contact-table .contact-col1 {
  text-align: right;
  min-width: 200px;
}
body #online-site #about-container #contact #contact-table .contact-col2, body #online-site #contact-container #contact #contact-table .contact-col2 {
  width: 100%;
}
body #online-site #about-container #contact #contact-table #contact-ig, body #online-site #about-container #contact #contact-table #contact-tw, body #online-site #contact-container #contact #contact-table #contact-ig, body #online-site #contact-container #contact #contact-table #contact-tw {
  display: none;
  height: 20px;
  width: 100%;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.6s;
}
body #online-site #about-container #contact #contact-table #contact-ig:hover, body #online-site #about-container #contact #contact-table #contact-tw:hover, body #online-site #contact-container #contact #contact-table #contact-ig:hover, body #online-site #contact-container #contact #contact-table #contact-tw:hover {
  opacity: 1;
  background-color: #ff7f50;
}
body #online-site .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
  padding: 40px 0;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 1px;
  z-index: 103;
}
body #online-site .footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 20px 10px;
  cursor: pointer;
  transition: 0.6s;
}
body #online-site .footer p:hover {
  color: coral;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* This changes all the animations globally */
:root {
  --animate-duration: 600ms;
}

.no-scroll {
  overflow-y: hidden !important;
}/*# sourceMappingURL=index.css.map */